<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1457726784-mjj717b9gc0eaucoqpj8cjvuri4p9gel.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1457726784-mjj717b9gc0eaucoqpj8cjvuri4p9gel</string>
	<key>API_KEY</key>
	<string>AIzaSyBg2RQ-6trVCV4sG74Agrj38Jzl9ZTrsd4</string>
	<key>GCM_SENDER_ID</key>
	<string>1457726784</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.buildapp.CloneInstagramApp</string>
	<key>PROJECT_ID</key>
	<string>cloneinstagramapp-195c1</string>
	<key>STORAGE_BUCKET</key>
	<string>cloneinstagramapp-195c1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1457726784:ios:190f429bef2ba9006506a5</string>
</dict>
</plist>